{% extends 'base.html' %}

{% block title %}
  メンバー
{% endblock %}

{% block header %}
  メンバー
{% endblock %}

{% block content %}
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <form method="post" action="{% url 'tournament:matches' %}">
      {% csrf_token %}
      <div class="bracket mb-4 row">
        <div class="match col">
          <input type="text" name="player1" placeholder="プレイヤー1" class="form-control" />
        </div>
        <div class="match col">
          <input type="text" name="player2" placeholder="プレイヤー2" class="form-control" />
        </div>
      </div>
      <div class="bracket mb-4 row">
        <div class="match col">
          <input type="text" name="player3" placeholder="プレイヤー3" class="form-control" />
        </div>
        <div class="match col">
          <input type="text" name="player4" placeholder="プレイヤー4" class="form-control" />
        </div>
      </div>
      <div class="bracket mb-4 row">
        <div class="match col">
          <input type="text" name="player5" placeholder="プレイヤー5" class="form-control" />
        </div>
        <div class="match col">
          <input type="text" name="player6" placeholder="プレイヤー6" class="form-control" />
        </div>
      </div>
      <div class="bracket mb-4 row">
        <div class="match col">
          <input type="text" name="player7" placeholder="プレイヤー7" class="form-control" />
        </div>
        <div class="match col">
          <input type="text" name="player8" placeholder="プレイヤー8" class="form-control" />
        </div>
      </div>
      <div class="submit-button text-center mt-5">
        <button type="submit" class="btn btn-outline-secondary">決定</button>
      </div>
    </form>
  </div>
{% endblock %}
