# .gitignore
# Ignore All
*
!*/

# Allowlist
!.git/*
!.gitignore
!.gitattributes
!*.py
!*.txt
!*.html
!*.css
!*.js
!*.sol
!docker-compose.yml
!Dockerfile
!.env_template
!.pre-commit-config.yaml

!wait-for-it.sh
!.github/workflows/*

# Ignore node_modules directory
node_modules/