{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block header %}
  42Pong
{% endblock %}

{% block content %}
  <main class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    <div class="mb-5">
      <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='{% url 'gameplay:gameplay' %}'">Play 1vs1</button>
    </div>

    <div class="mb-5">
      <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='{% url 'tournament:tournament' %}'">Create A Tournament</button>
    </div>
  </main>
{% endblock %}
