{% extends 'base.html' %}

{% block title %}
  Login
{% endblock %}

{% block header %}
  Login Page
{% endblock %}

{% block content %}
  <main class="form-signin d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
    {% if form.errors %}
      <p class="text-danger">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
    <form method="post" action="{% url 'accounts:login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_username" class="form-label">{{ form.username.label }}</label>
        {{ form.username }}
      </div>
      <div class="mb-3">
        <label for="id_password" class="form-label">{{ form.password.label }}</label>
        {{ form.password }}
      </div>
      <input type="hidden" value="{% url 'accounts:verify_otp' %}" />
      <button type="submit" class="btn btn-primary mb-2 w-100">Login</button>
    </form>
    <a href="{% url 'accounts:signup' %}" class="btn btn-secondary w-100 mb-2" style="max-width: 282px;">Sign Up</a>
    <a href="{% url 'oauth:oauth' %}" class="btn btn-secondary w-100" style="max-width: 282px;">Login with 42</a>
  </main>

  {# Assumes you set up the password_reset view in your URLconf #}
  {% comment %} <p>
    <a href="{% url 'password_reset' %}">Lost password?</a>
  </p> {% endcomment %}
{% endblock %}
