{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Two-Factor Authentication' %}
{% endblock %}

{% block content %}
  <main class="form-signin d-flex flex-column justify-content-center align-items-center vh-100">
    <h1>{% trans 'Two-Factor Authentication' %}</h1>

    <form method="post" action="">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_otp_token" class="form-label">{% trans 'Enter OTP Token' %}</label>
        {{ form.otp_token }}
      </div>
      <button type="submit" class="btn btn-primary">{% trans 'Verify' %}</button>
    </form>

    {% if form.errors %}
      <div class="alert alert-danger mt-3">
        {% for field in form %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
  </main>
{% endblock %}
