<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <script>
<!--      domを読み込んでから-->
        document.addEventListener("DOMContentLoaded", function() {
            let interval;
            // websocketの接続先
            const url = "ws://" + window.location.host + "/ws/websocket/"
            const ws = new WebSocket(url);
            console.log(url);

            // websocketでの接続が確立されたときに動く
            ws.onopen = function() {
                console.log("Connected");
            };

            ws.onclose = function(event) {
                console.log("Disconnected");
                setTimeout(connect, 1000);
            };
            //websocketでメッセージを受信されたら動く
            ws.onmessage = function(e) {
                const data = JSON.parse(e.data);
                console.log("Received message:", data.message);

                document.getElementById("counter").innerText = data.message;
            };

            let keyIsPressed = false;
            //ボタンを長押ししたら送り続ける
            document.addEventListener("keydown", function(event) {
                if (event.key === "D" || event.key === "d")
                {
                    if (!keyIsPressed) {
                        keyIsPressed = true;
                        interval = setInterval(function() {
                            sendMessage("D pressed!");
                        }, 100);
                    }
                }
                else if (event.key === "E" || event.key === "e")
                {
                    if (!keyIsPressed) {
                        keyIsPressed = true;
                        interval = setInterval(function() {
                            sendMessage("E pressed!");
                        }, 100);
                    }
                }
            });

            //ボタンを離したら送るのをやめる
            document.addEventListener("keyup",function(event) {
                if (event.key === "E" || event.key === "e" || event.key === "D" || event.key === "d") {
                    clearInterval(interval);  // メッセージ送信の間隔を止める
                    keyIsPressed = false;
                }
            });

            function sendMessage(message) {
                ws.send(JSON.stringify({"message": message}));
            }
});

    </script>
</head>
<body>
    <h1 id="counter">id</h1>
</body>
</html>
