<h1 class="mt-3 px-3" data-i18n="gamesetting:setting">Setting</h1>
<div class="row justify-content-center">
  <div class="col-5">
    <h2 class="mt-5 d-flex" data-i18n="gamesetting:ball_velocity">Ball Velocity</h2>
    <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="velocity" id="velocity-fast" autocomplete="off" />
      <label class="btn btn-outline-primary " for="velocity-fast" data-i18n="gamesetting:fast">Fast</label>

      <input type="radio" class="btn-check" name="velocity" id="velocity-normal" autocomplete="off" checked />
      <label class="btn btn-outline-primary" for="velocity-normal" data-i18n="gamesetting:normal">Normal</label>

      <input type="radio" class="btn-check" name="velocity" id="velocity-slow" autocomplete="off" />
      <label class="btn btn-outline-primary" for="velocity-slow" data-i18n="gamesetting:slow">Slow</label>
    </div>

    </br>

    <h2 class="mt-3 d-flex" data-i18n="gamesetting:ball_size">Ball Size</h2>
    <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="ball-size" id="size-big" autocomplete="off" />
      <label class="btn btn-outline-primary" for="size-big" data-i18n="gamesetting:big">Big</label>

      <input type="radio" class="btn-check" name="ball-size" id="size-normal" autocomplete="off" checked />
      <label class="btn btn-outline-primary" for="size-normal" data-i18n="gamesetting:normal">Normal</label>

      <input type="radio" class="btn-check" name="ball-size" id="size-small" autocomplete="off" />
      <label class="btn btn-outline-primary" for="size-small" data-i18n="gamesetting:small">Small</label>
    </div>

    </br>

    <h2 class="mt-3 d-flex" data-i18n="gamesetting:map_select">Map Select</h2>
    <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="map" id="map-a" autocomplete="off" checked />
      <label class="btn btn-outline-primary" for="map-a">A</label>

      <input type="radio" class="btn-check" name="map" id="map-b" autocomplete="off" />
      <label class="btn btn-outline-primary" for="map-b">B</label>

      <input type="radio" class="btn-check" name="map" id="map-c" autocomplete="off" />
      <label class="btn btn-outline-primary" for="map-c">C</label>
    </div>
  </div>
</div>
    
    </br>

    <div class="d-flex justify-content-center">
      <button id="play-button" type="button" class="btn btn-secondary mt-5 mx-auto p-2" style="width: 200px; height: 45px" data-i18n="gamesetting:let's_play">Let's play!</button>
    </div>