<header class="hero">
  <div class="hero-wrap">
    <h1 id="headline" data-i18n="matches:title">Tournament</h1>
    <p class="year">
      <i class="fa fa-star"></i> 2024 <i class="fa fa-star"></i>
    </p>
  </div>
</header>

<div class="container my-5">
  <div class="row text-center">
    <div class="col">
      <h3 class="text-uppercase text-secondary" data-i18n="matches:round1">Round 1</h3>
    </div>
    <div class="col">
      <h3 class="text-uppercase text-secondary" data-i18n="matches:round2">Round 2</h3>
    </div>
    <div class="col">
      <h3 class="text-uppercase text-secondary" data-i18n="matches:round3">Round 3</h3>
    </div>
  </div>

  <div class="row">
    <!-- Round 1 -->
    <div class="col-md-4">
      <div class="matchup mb-4">
        <div class="team team-top" id="match1-player1">
          <span class="score" id="match1-score1">-</span>
        </div>
        <div class="team team-bottom" id="match1-player2">
          <span class="score" id="match1-score2">-</span>
        </div>
      </div>
      <div class="matchup mb-4">
        <div class="team team-top" id="match2-player1">
          <span class="score" id="match2-score1">-</span>
        </div>
        <div class="team team-bottom" id="match2-player2">
          <span class="score" id="match2-score2">-</span>
        </div>
      </div>
      <div class="matchup mb-4">
        <div class="team team-top" id="match3-player1">
          <span class="score" id="match3-score1">-</span>
        </div>
        <div class="team team-bottom" id="match3-player2">
          <span class="score" id="match3-score2">-</span>
        </div>
      </div>
      <div class="matchup mb-4">
        <div class="team team-top" id="match4-player1">
          <span class="score" id="match4-score1">-</span>
        </div>
        <div class="team team-bottom" id="match4-player2">
          <span class="score" id="match4-score2">-</span>
        </div>
      </div>
    </div>

    <!-- Round 2 -->
    <div class="col-md-4 d-flex flex-column justify-content-center">
      <div class="matchup mb-5">
        <div class="team team-top">
          &nbsp;<span class="score">&nbsp;</span>
        </div>
        <div class="team team-bottom">
          &nbsp;<span class="score">&nbsp;</span>
        </div>
      </div>
      <div class="matchup mb-5">
        <div class="team team-top">
          &nbsp;<span class="score">&nbsp;</span>
        </div>
        <div class="team team-bottom">
          &nbsp;<span class="score">&nbsp;</span>
        </div>
      </div>
    </div>

    <!-- Round 3 -->
    <div class="col-md-4 d-flex flex-column justify-content-center">
      <div class="matchup">
        <div class="team team-top">
          &nbsp;<span class="score">&nbsp;</span>
        </div>
        <div class="team team-bottom">
          &nbsp;<span class="score">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-end">
      <a href="#" class="btn btn-primary" data-i18n="matches:next-game">Next Game</a>
    </div>
  </div>
</div>
