<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <form id="tournament-form">
    <div class="mb-4 row">
      <div class="match col">
        <input id="player1" type="text" name="player1" data-i18n="[placeholder]tournament:player1" class="form-control" />
      </div>
      <div class="match col">
        <input id="player2" type="text" name="player2" data-i18n="[placeholder]tournament:player2" class="form-control" />
      </div>
    </div>
    <div class="mb-4 row">
      <div class="match col">
        <input id="player3" type="text" name="player3" data-i18n="[placeholder]tournament:player3" class="form-control" />
      </div>
      <div class="match col">
        <input id="player4" type="text" name="player4" data-i18n="[placeholder]tournament:player4" class="form-control" />
      </div>
    </div>
    <div class="mb-4 row">
      <div class="match col">
        <input id="player5" type="text" name="player5" data-i18n="[placeholder]tournament:player5" class="form-control" />
      </div>
      <div class="match col">
        <input id="player6" type="text" name="player6" data-i18n="[placeholder]tournament:player6" class="form-control" />
      </div>
    </div>
    <div class="mb-4 row">
      <div class="match col">
        <input id="player7" type="text" name="player7" data-i18n="[placeholder]tournament:player7" class="form-control" />
      </div>
      <div class="match col">
        <input id="player8" type="text" name="player8" data-i18n="[placeholder]tournament:player8" class="form-control" />
      </div>
    </div>
    <div class="submit-button text-center mt-5">
      <button type="submit" class="btn btn-outline-secondary" data-i18n="tournament:submit">決定</button>
    </div>
  </form>
</div>
